:3000 {
	# Unauth health endpoint for kamal-proxy.
	handle /up {
		respond "ok" 200
	}

	# Everything else: gated.
	handle {
		basic_auth {
			brett.mackrell@gmail.com $2y$14$kdxOMGi.PEBACEkmzvZROeb7ezE3G/LeClboWiS5kEjnSH5V/dev.
		}
		header {
			X-Robots-Tag "noindex, nofollow, noarchive, nosnippet"
			-Server
		}
		root * /usr/share/caddy
		encode gzip
		try_files {path} /index.html
		file_server
	}
}
